._dash-undo-redo {
  display: none;
}

@font-face {
  font-family: 'Low Casat Light PERSONAL USE';
  src: url(LowCasatLight_PERSONAL_USE.ttf);
  src: local(LowCasatLight_PERSONAL_USE.ttf)
}

div {
    font-family: 'Low Casat Light PERSONAL USE';
    font-size: 100
}
